.destination {
  min-height: 100vh;
  width: 100%;
  background: url(../assets/destination/background-destination-mobile.jpg)
    no-repeat center;
  background-size: cover;
}

.destination_main {
  margin-top: 1.5rem;
  padding: 0 1.5rem 1.5rem;
  color: hsl(0, 0%, 100%);
  text-align: center;
}

.destination_main h1 {
  margin: 0 0.4rem 0 0;
  letter-spacing: 0.17rem;
  font-size: 16px;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  text-align: right;
}

.destination_main span {
  color: hsla(0, 0%, 100%, 0.25);
  font-weight: bold;
}

.destination_image_moon {
  height: 10.6rem;
  width: 10.6rem;
  margin: 1.9rem auto 1.6rem;
  background: url(../assets/destination/image-moon.webp) no-repeat center;
  background-size: cover;
}

.destination_image_mars {
  height: 10.6rem;
  width: 10.6rem;
  margin: 1.9rem auto 1.6rem;
  background: url(../assets/destination/image-mars.webp) no-repeat center;
  background-size: cover;
}

.destination_image_europa {
  height: 10.6rem;
  width: 10.6rem;
  margin: 1.9rem auto 1.6rem;
  background: url(../assets/destination/image-europa.webp) no-repeat center;
  background-size: cover;
}

.destination_image_titan {
  height: 10.6rem;
  width: 10.6rem;
  margin: 1.9rem auto 1.6rem;
  background: url(../assets/destination/image-titan.webp) no-repeat center;
  background-size: cover;
}

.destination_choice {
  width: 15.2rem;
  margin: auto;
}

.destination_choice ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.destination_choice ul li {
  letter-spacing: 0.17rem;
  font-size: 14px;
  color: hsl(231, 77%, 90%);
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
}

.destination_choice_active {
  color: hsl(0, 0%, 100%);
}

.destination_choice_active::after {
  content: "";
  display: block;
  width: 80%;
  position: relative;
  top: 0.8rem;
  border-bottom: 0.19rem solid hsl(0, 0%, 100%);
}

.destination_main h2 {
  margin: 1.3rem 0 0;
  font-size: 56px;
  font-family: "Bellefair", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}

.destination_main p {
  margin: 0 0 2.3rem 0;
  line-height: 1.6rem;
  font-size: 15px;
  font-family: "Barlow", sans-serif;
}

.destination_main .line {
  height: 0.0625rem;
  width: 100%;
  background-color: hsl(231, 15%, 26%);
}

.distance_time {
  margin-top: 2rem;
}

.destination_main h3 {
  margin: 0;
  color: hsl(231, 77%, 90%);
  letter-spacing: 0.17rem;
  font-size: 14px;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}

.destination_main h4 {
  margin: 1rem 0;
  font-size: 28px;
  font-family: "Bellefair", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .destination {
    min-height: 100vh;
    width: 100%;
    padding: 0;
    background: url(../assets/destination/background-destination-tablet.jpg)
      no-repeat center;
    background-size: cover;
  }

  .destination_main {
    margin: 0;
    padding: 2.5rem;
  }

  .destination_main h1 {
    margin: 0;
    font-size: 20px;
    text-align: left;
  }

  .destination_image_moon {
    height: 18.75rem;
    width: 18.75rem;
    margin: 3.6rem auto 3.8rem;
  }

  .destination_image_mars {
    height: 18.75rem;
    width: 18.75rem;
    margin: 3.6rem auto 3.8rem;
  }

  .destination_image_europa {
    height: 18.75rem;
    width: 18.75rem;
    margin: 3.6rem auto 3.8rem;
  }

  .destination_image_titan {
    height: 18.75rem;
    width: 18.75rem;
    margin: 3.6rem auto 3.8rem;
  }

  .destination_choice {
    width: 18.3rem;
    margin: 0 auto;
  }

  .destination_choice ul li {
    font-size: 16px;
  }

  .destination_main h2 {
    margin: 2.1rem 0 0;
    font-size: 80px;
  }

  .destination_main p {
    padding: 0 3.6rem;
    margin: 0 0 3.5rem 0;
    line-height: 1.75rem;
    font-size: 16px;
  }

  .distance_time {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}

@media (min-width: 1200px) {
  .destination {
    min-height: 100vh;
    width: 100%;
    padding: 2.5rem 0 0 3.4rem;
    background: url(../assets/destination/background-destination-desktop.jpg)
      no-repeat center;
    background-size: cover;
  }

  .destination_main {
    padding: 6rem 5rem 7rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .destination_main h1 {
    font-size: 28px;
  }

  .destination_image_moon {
    height: 27.8rem;
    width: 27.8rem;
    margin: 5.9rem 0 0;
    background: url(../assets/destination/image-moon.png) no-repeat center;
  }

  .destination_image_mars {
    height: 27.8rem;
    width: 27.8rem;
    margin: 5.9rem 0 0;
    background: url(../assets/destination/image-mars.png) no-repeat center;
  }

  .destination_image_europa {
    height: 27.8rem;
    width: 27.8rem;
    margin: 5.9rem 0 0;
    background: url(../assets/destination/image-europa.png) no-repeat center;
  }

  .destination_image_titan {
    height: 27.8rem;
    width: 27.8rem;
    margin: 5.9rem 0 0;
    background: url(../assets/destination/image-titan.png) no-repeat center;
  }

  .destination_choice {
    width: 18.3rem;
    margin: 0;
  }

  .destination_choice ul li:hover {
    cursor: pointer;
  }

  .destination_choice ul li:hover::after {
    content: "";
    display: block;
    width: 80%;
    position: relative;
    top: 0.8rem;
    border-bottom: 0.19rem solid hsla(0, 0%, 100%, 0.5);
  }

  .destination_details {
    width: 27.8rem;
    text-align: left;
  }

  .destination_main h2 {
    margin: 2.4rem 0 0;
    font-size: 100px;
  }

  .destination_main p {
    padding: 0;
    margin: 0 0 3.9rem 0;
    line-height: 2rem;
    font-size: 18px;
  }

  .distance_time {
    justify-content: flex-start;
  }

  .distance {
    margin-right: 4.75rem;
  }
}

@media (min-width: 1300px) {
  .destination_main {
    padding: 6rem 9.5rem 7rem 9.9rem;
  }
}
